
#cta {
    animation: ctaAnimation 0.5s forwards 0s ease-in-out;
}

#circle-b-1 img {
    width: 196px;
    margin-left: -16px;
    margin-top: -15px;

    animation: reverseRotateAnimation 20s infinite 0s linear;
}

#circle-b-2 img {
    animation: rotateAnimation 10s infinite 0s linear;
}

#circle-b-3 img {
    width: 140px;
    transform: perspective(1200px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    translateX(8px) translateY(8px) translateZ(50px) ;
}


#circle-container2 #circle-b-1 {
    transform: perspective(1200px) rotateX(70deg) rotateY(0deg) rotateZ(0deg)
    translateX(15px) translateY(190px) translateZ(20px) ;
}

#circle-container2 #circle-b-2 {
    transform: perspective(1200px) rotateX(40deg) rotateY(0deg) rotateZ(0deg)
    translateX(15px) translateY(20px) translateZ(0px) ;
}

#circle-container2 #circle-b-3 {
    transform: perspective(1200px) rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    translateX(23px) translateY(5px) translateZ(0px) ;
}



@keyframes rotateAnimation{
    0%{
        transform: rotate(0deg);
        }
    100%{
        transform: rotate(360deg);
        }
}

@keyframes reverseRotateAnimation{
    0%{
        transform: rotate(360deg);
        }
    100%{
        transform: rotate(0deg);
        }
}




@keyframes depthAnimation1{
    0%{
        }
    100%{
        transform: translateX(10px) translateY(3%) skewY(-10deg);
        }
}

@keyframes depthAnimation2{
    0%{
        }
    100%{
        transform: translateX(5px) translateY(-1%) skewY(-10deg);
        }
}

@keyframes depthAnimation3{
    0%{
        }
    100%{
        transform: translateX(-2px) translateY(-6%) skewY(-10deg);
        }
}






/* ANIMATION */

#header:hover #rocket img  {
    animation: rocketShake 0.15s infinite 0s ease-in-out;
}
#header:hover #rocket  {
    animation: rocketMove 2s infinite 0s ease-in-out;
}




@keyframes ctaAnimation{
    0%{
        transform: translateX(-30px);
        opacity: 0;
        }
    80%{
        transform:  translateX(25px);
        opacity: 1;
        }
    100%{
        transform:  translateX(20px);
        }
}

@keyframes rocketShake{
    0%{
        transform: rotate(0deg);
        }
    31%{
        transform: rotate(-1deg);
        }
    64%{
        transform: rotate(0deg);
        }
    100%{
        transform: rotate(1deg);
        }
}

@keyframes rocketMove{
    0%{
        transform: rotate(0deg) translateX(0px);
        
        }
    89%{
        transform: rotate(0deg) translateX(-20px);
        }
    100%{
        transform: rotate(0deg) translateX(0px);
        }
}

